.dart_tool/
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
/android/app/debug/
/android/app/profile/
/android/app/release/
/build/
/coverage/
/debug_info/
**/doc/api/
**/ios/Flutter/.last_build_id
.atom/
.build/
.buildlog/
.history/
migrate_working_dir/
.DS_Store
.flutter-plugins-dependencies
.metadata
app.*.map.json
app.*.symbols
ddd.iml
lib/lang/l.dart
lib/lang/l_*.dart
pubspec.lock
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
*.png
*.ico
*.jpg
*.jpeg
*.svg
**/mipmap-*/ic_launcher.png