*.class
*.ico
*.iml
*.jpeg
*.jpg
*.lock
*.log
*.png
*.svg
*.webp
.DS_Store
.flutter-plugins-dependencies
.metadata
app.*.map.json
app.*.symbols
lib/lang/l.dart
lib/lang/l_*.dart
.atom/
.build/
.buildlog/
.dart_tool/
.history/
.idea/
.pub/
.pub-cache/
.svn/
/android/app/debug/
/android/app/profile/
/android/app/release/
/build/
/coverage/
/debug_info/
migrate_working_dir/